[submodule "nersc/git"]
	path = nersc/git
	url = https://gitlab.com/NERSC/nersc.gitlab.io.git
	branch = main
	shallow = true
[submodule "python-patterns/git"]
	path = python-patterns/git
	url = https://github.com/brandon-rhodes/python-patterns.git
	branch = master
	shallow = true
[submodule "pixi/git"]
	path = pixi/git
	url = https://github.com/prefix-dev/pixi.git
	branch = main
	shallow = true
[submodule "flox/git"]
	path = flox/git
	url = https://github.com/flox/docs.git
	branch = main
	shallow = true
[submodule "spack/git"]
	path = spack/git
	url = https://github.com/spack/spack.git
	branch = develop
	shallow = true
[submodule "devbox/git"]
	path = devbox/git
	url = https://github.com/jetify-com/docs.git
	branch = main
	shallow = true
[submodule "isambard-docs/git"]
	path = isambard-docs/git
	url = git@github.com:isambard-sc/docs.isambard.ac.uk.git
	branch = main
	shallow = true
	update = none
[submodule "mamba/git"]
	path = mamba/git
	url = https://github.com/mamba-org/mamba
	branch = main
	shallow = true
[submodule "conda-forge/git"]
	path = conda-forge/git
	url = https://github.com/conda-forge/conda-forge.github.io.git
	branch = main
	shallow = true
