[submodule "nersc/git"]
	path = nersc/git
	url = https://gitlab.com/NERSC/nersc.gitlab.io.git
	branch = main
	shallow = true
[submodule "devbox"]
	path = devbox/git
	url = https://github.com/jetify-com/devbox.git
	branch = main
	shallow = true
[submodule "python-patterns/git"]
	path = python-patterns/git
	url = https://github.com/brandon-rhodes/python-patterns.git
[submodule "pixi/git"]
	path = pixi/git
	url = https://github.com/prefix-dev/pixi.git
[submodule "flox/git"]
	path = flox/git
	url = https://github.com/flox/floxdocs.git
[submodule "gw4-isambard/git"]
	path = gw4-isambard/git
	url = https://github.com/gw4-isambard/docs.git
[submodule "spack/git"]
	path = spack/git
	url = https://github.com/spack/spack.git
